/* Default styles */
div {
    text-align: center;
}

p {
    position: absolute;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
}

.center {
    display: flex;
    justify-content: center;
}

.output {
    margin-top: 100px;
    grid-column: 1 / span 4;
    height: 40px;
    width: 210px;
    font-size: large;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

button {
    height: 50px;
    width: 50px;
}

.clear {
    width: 110px;
    grid-column: 1 / span 2;
}

.zero {
    width: 110px;
    grid-column: 1 / span 2;
}
